.schedule-card__order {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    text-transform: lowercase;
    padding: 5px 14px;
    text-align: center;
    border-radius: 0 3px;
}